@charset "utf-8";
/* CSS Document */

#header {
	background:black;
	color:white;
	padding-left:30px;
}
#logo {
	height:150px;
	background:#39C;
	color:white;
}
#sidebar-nav {
	padding-top:50px;
	background:#EEE;
	padding-bottom:100px;
}
#right-bar {
	margin-top:50px;
}
